@import "file:///home/lazyfox/dotfiles/colors/fox_colors.css";

/*  Dylan's Firefox css */

@namespace html url(http://www.w3.org/1999/xhtml);
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* VARIABLES {{{ */

:root {
	/* Tabs */
    --tab-height: 18px;
    --tab-fonts: sans;
    --tab-font-size: 10px;

	/* Url Bar */
    --url-height: 35px;
    --url-fonts: sans;
    --url-font-size: 0px;
    --url-text-align: left;

    /* Don't touch this */
    --backbutton-urlbar-overlap: 10px;
}

/* }}} */

@-moz-document url(chrome://browser/content/browser.xul) {

/* HIDDEN STUFF {{{  */

	#TabsToolbar:not(:-moz-lwtheme)::after,
	#addonbar-closebutton,
	#back-button,
	#feed-button,
	#forward-button,
	#identity-box,
	#new-tab-button,
	#notification-popup-box,
	#plugins-notification-icon,
	#private-browsing-indicator,
	.autocomplete-history-dropmarker,
	.scrollbutton-down,
	.scrollbutton-up,
	.tab-background-end,
	.tab-background-start,
	.tab-close-button,
	.tab-icon,
	.tab-icon-image,
	.tab-throbber,
	.tabbrowser-tab:after,
	.tabbrowser-tab:before,
	.tabs-closebutton-box,
	.tabs-newtab-button {
		display: none !important;
	}

/* }}} */

/* TABS {{{ */

	/* Unselected Tabs */
	#TabsToolbar .tabbrowser-tab {
		background: var(--black) !important;
		border: none !important;
		color: var(--white) !important;
		font-family: var(--tab-fonts) !important;
		font-size: var(--tab-font-size) !important;
		margin: 0 50px 0 0;
		text-align: center !important;
	}

	/* Selected Tab */
	#TabsToolbar .tabbrowser-tab[selected] {
		background: var(--blue) !important;
		color: var(--black) !important;
	}

	/* Background behind Tabs */
	#main-window[sizemode="normal"]:not([inFullscreen])  #TabsToolbar {
        margin: 0 !important;
        padding-top: 4px !important;
	}

	#main-window[sizemode="normal"]:not([inFullscreen])  #TabsToolbar .tabbrowser-tabs {
		height: var(--tab-height) !important;
		margin-top: -4px !important;
		min-height: var(--tab-height) !important;
	}

	#TabsToolbar,
	#tabbrowser-tabs {
		-moz-appearance: none !important;
		border: none !important;
		box-shadow: none !important;
	}

	/* Makes tabs use all the space available */
	.tabbrowser-tab[fadein]:not([pinned]) {
		max-width: 100% !important;
		min-width: 100px !important;
	}

	/* Disable Australis Styles */
	#TabsToolbar .tab-background,
	.tabbrowser-tab * {
		-moz-appearance: none !important;
		background: none !important;
		margin: 0 !important;
        list-style-image: none !important;
	}

	#TabsToolbar .tab-background-middle {
		background: transparent !important;
	}

	#TabsToolbar > * {
		background-color: var(--black) !important;
	}


/* }}} */

/* NAVBAR/URLBAR {{{ */

	#nav-bar {
		background: var(--black) !important;
		border: none !important;
		box-shadow: none !important;
		height: var(--url-height) !important;
		margin: -2px 0 0 -5px !important;
		padding: 2px 0px !important;
	}

	#urlbar {
		background: var(--black) !important;
		box-shadow: none !important;
		color: var(--gray) !important;
		font-family: var(--url-fonts) !important;
		font-size: var(--url-font-size) !important;
		margin: 0 !important;
		padding: 5px 5px 5px 20px !important;
		text-align: var(--url-text-align) !important;
	}

    #ctraddon_addon-bar {
        background: var(--black) !important;
    }

	/* Hides border on navbar */
	#TabsToolbar:not([collapsed="true"]) + #nav-bar,
	#browser-bottombox,
    #ctraddon_addon-bar,
    #urlbar {
		border: none !important;
	}

	/* Hides Seperator */
	#navigator-toolbox:after {
		height: 0px !important;
	}

	#main-window {
		-moz-appearance: -moz-win-borderless-glass !important;
		-moz-appearance: -moz-win-glass !important;
	}

	/* Changes menu button image */
	#PanelUI-menu-button {
		-moz-image-region: rect(0,16px,16px,0) !important;
		background: transparent !important;
		border: transparent !important;
		list-style-image: url('data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%06%00%00%00%1F%F3%FFa%00%00%00%04sBIT%08%08%08%08%7C%08d%88%00%00%00%09pHYs%00%00%0D%D7%00%00%0D%D7%01B%28%9Bx%00%00%00%19tEXtSoftware%00www.inkscape.org%9B%EE%3C%1A%00%00%009IDAT8%8Dc%60%A0%1002000TT%B4%0B%92%A3%B9%A3%A3%F2%3DciES%0A%03%23%E3l%B2%AC%FF%FF%3F%95%89%2C%8D%83%0A%8C%06"%15%C0h%20R%01%00%00%E2%86%1A%86%C2%C8%D8%A4%00%00%00%00IEND%AEB%60%82') !important;
		margin-bottom: 4px !important;
		padding: 0px 5px 0px 0px !important;
	}


/* }}} */

}

#content browser {
    margin-right: -14px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}
